$exit: url("../../assets/exit.png");

.map-panel {
  display:none;
  padding: 0px;
  margin-top:20px;
}

.col-xs-5{
  padding:0px;
}

.animal-image{
  width:100%;
  height:150px;
  background-size:cover;
  margin:auto;
  border: 1px solid white;
}

.animal-text{
  font-size:20px;
  font-weight:bold;
  color: #0c638c;
  text-align: left;
}

.type-content, .notes-content{
  font-size:18px;
  font-weight:normal;
  color:white;
}

.exit {
  position:absolute;
  top:5;
  right:0;
  
  width:16px;
  height:16px;
  background:$exit;
  background-size:cover;
}
