$exit: url("../../assets/exit.png");

$color9: #0c638c;
$font: 'Cabin', sans-serif;

.map-panel {
  display:none;
  padding: 0px;
  margin-top:20px;
}

.col-xs-5{
  padding:0px;
}

.animal-image{
  width:100%;
  height:150px;
  background-size:cover;
  margin:auto;
  border: 1px solid white;
}

.status {
  position: absolute;
  top: 5px;
  right: 5px;
}

.status-content {
  padding: 5px;
  color: white;
}

.animal-text{
  font-size:20px;
  font-weight:bold;
  color: #0c638c;
  text-align: left;
}

.type-content, .notes-content{
  font-size:18px;
  font-weight:normal;
  color:white;
}

.exit {
  position:absolute;
  top:5;
  right:0;

  width:16px;
  height:16px;
  background:$exit;
  background-size:cover;

  cursor: hand;
}

// Remove Google Copywrite info on map
.gm-style-cc {
  display:none;
}

#legend-wrapper {
  display: none;

  position: absolute;
  top: 5px;

  width: 100%;
  height: 40px;
}

.legend-box {
  position: absolute;
  top: 0px;

  width: 100%;
  height: 40px;
  background-color: $color9;
  opacity: .7;
}

.legend-entry {
  height: 100%;
  text-align: center;
  padding: 10px;
}

.legend-text {
  color: white;
  font: $font;
  font-size: 12px;
  font-weight: bold;
  margin: auto;
  vertical-align: middle;
}

.case-image {
  width: 20px;
  height: 20px;
}

/////////////////////////////////////////
/* Media Queries */
/////////////////////////////////////////

@media screen
and (min-width: 320px)
and (max-width: 375px) {
  .legend-box {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 35px;
    background-color: $color9;
    opacity: .7;
  }

  .legend-entry {
    height: 100%;
    text-align: center;
    padding: 5px;
  }
  .case-image {
    display:block;
    margin: auto;
    width: 14px;
    height: 14px;
  }
    .legend-text {
      color: white;
      font: $font;
      font-size: 9px;
      font-weight: bold;
      margin: auto;
      vertical-align: middle;
    }
}

@media screen
and (min-width: 375px)
and (max-width: 568px) {
  .legend-box {
    position: absolute;
    top: 0px;

    width: 100%;
    height: 40px;
    background-color: $color9;
    opacity: .7;
  }

  .legend-entry {
    height: 100%;
    text-align: center;
    padding: 7px;
  }
  .case-image {
    display:block;
    margin: auto;
    width: 16px;
    height: 16px;
  }
    .legend-text {
      color: white;
      font: $font;
      font-size: 10px;
      font-weight: bold;
      margin: auto;
      vertical-align: middle;
    }
}
