/* ************************** */
/* Color Pallete
/* ************************** */
$color1: white;
$color2: #8d8d8d;
$color3: #313538;
$color4: #05d4a6;
$color5: #024e52;
$color6: #dddddd;
$color7: #f26d7d;

$background-img: url("../../assets/img/background-bubbles.png");
$logo: url("../../assets/img/seal-icon.png");

$font: 'Cabin', sans-serif;

.main-wrapper{
  width:80%;
  margin:auto;
  position:relative;
  margin-top:85px;
}

/* Fix Some Bootsrap Shit */
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col-sm-6,.col-xs-6{
  padding-left:0px;
  padding-right:0px;
}

body{
  background:$color3;
  font-family: $font;
}

///////////////////////////////////////////
// Header Styling
///////////////////////////////////////////

.header-outer{
  width:100%;
  height:auto;
  position:fixed;
  top:0;left:0;right:0;
  height:auto;
  z-index: 99;
}

.header-inner{
  position:relative;
  width:80%;
  margin:auto;
  height:auto;
}

.header{
  height:auto;


  width:100%;
  background:$color3;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:auto;
}

.header-text-bold, .header-text-light{
  text-align: left;
}

.header-text-bold{
  font-size: 36px;
  font-weight: bold;
  color:$color1;
}

.header-text-light{
  font-size:15px;
  font-weight:100;
  color:$color6;
}



.header-image{
  position:absolute;
  top:5;
  right:0;
  width:50px;
  height:50px;
  background:$logo;
  background-size:cover;
}

.header-wrap{
  width:265px;
  height:auto;
  position:relative;
  line-height: 1;
}

.menu-icon{
  position:absolute;;
  right:30px;
  top:10px;

  background-image:url("../../assets/img/menu.png");
  background-size: cover;
  width:50px;
  height:50px;
}

.navbar{
  //min-height:70px;
  border-radius: 0px;
  padding-left:30px;padding-right: 30px;
  padding:15px;
}

.navbar-nav{
  float:right;
}

.navbar-inverse .navbar-nav>.active>a{
  background: none;
  color:$color7;
}




.title-text-wrap{
  width:100%;
  height:auto;
  text-align: center;
}

.title-text{
  font-size:55px;
  font-weight:100;
  color:$color1;
}

hr.divider{
  width:200px;
  color:$color1;
  border-top:3px solid white;
}

.main-body{
  height:auto;
  padding:20px;
  position:relative;
  background:$background-img;
  background-size: cover;
  background-position: center;
}


///////////////////////////////////////////
// Form Styling
///////////////////////////////////////////

.report-form{
  margin-top:20px;
  width:80%;
  margin:auto;
  padding:50px;
  padding-top:0px;
}
.text{
  color:$color1;
  font-size:20px;
}

textarea:focus, input:focus{
  outline:none;
}




::-webkit-input-placeholder {
  color: $color2;
   text-align: center;
   font-size: 22px;
   line-height: .8;
}

:-moz-placeholder { /* Firefox 18- */
  color: $color2;
   text-align: center;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $color2;
   text-align: center;
   font-size: 15px;
}

:-ms-input-placeholder {
  color: $color2;
   text-align: center;
   font-size: 15px;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 3px solid $color7;
}


.form-input-small, .form-input-large{
  border-radius:35px;
  padding:10px;
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
  border:none;
  border: 3px solid $color2;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.form-input-small{
    height:65px;
}

.form-input-large{
    height:200px;
}

.warning-wrap{
  width:100%;
  height:auto;
  padding:20px;
  margin:auto;
}

.warning-text{
  font-size: 35px;
  font-weight:100;
  color:$color1;
  text-align: center;
}

.upload-image, .submit{
  width:100%;
  padding:20px;
  margin-top:10px;
  text-align: center;
  color:white;
  cursor:pointer;
  font-size:40px;
  font-weight:800;
  border:none;
}

.upload-image{
  background: $color7;
}

.submit{
  background:$color4;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}



/* Media Queries */

@media (max-width: 768px) {
  .form-box{
    width:92%;
  }
  .animal-text{
    font-size: 17px;
  }

  .circle-check{
    margin:5px;
  }

  .wrapper{
    width:100%;
  }

}






/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

@media (max-width: 512px) {
  .title-text{
    font-size:30px !important;
  }
  .warning-text{
    font-size:25px !important;
  }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .title-text{
    font-size:45px;
  }
  .form-box{
    width:95%;
  }
  .report-form{
    padding:10px;
  }
}

@media (max-width: 992px) {
  .main-wrapper{
    width:100%;
  }
  .header-inner{
    width:100%;
  }
  .report-form{
    width:100%;
  }


}
