/////////////////////////////////////////////////
/* Color Pallete
///////////////////////////////////////////////*/
$color1: #ffffff;
$color2: #8d8d8d;
$color3: #313538;
$color4: #0093d8;
$color5: #00e09e;
$color6: #dddddd;
$color7: #f26d7d;
$color8: #a40e20;
$color9: #0c638c;
$color10:#148c81;

$cape1: #00c934;
$cape2: #c0aa1a;
$cape3: #d73c0a;

$cape4: #B93E16;

$inset-color: rgba(0,0,0,0.18);
$box-shadow-color: rgba(0,0,0,0.75);
$form-color: rgba(100,100,100,.3);
$hr-color: rgba(100,80,80,.2);

/////////////////////////////////////////////////
/* Global Style Definitions
///////////////////////////////////////////////*/
$logo: url("../../assets/img/logos/rescuehero_logo.png");
$font: 'Cabin', sans-serif;

$joey: url("../../assets/joey.jpg");
$chloe: url("../../assets/chloe.jpg");
$jake: url("../../assets/jake.jpg");
$christian: url("../../assets/christian.jpg");
$david: url("../../assets/david.jpg");

/////////////////////////////////////////////////
/* Mixins
///////////////////////////////////////////////*/
@mixin diagonal-gradient() {
  background: $color9; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $color9, $color5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $color9, $color5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $color9, $color5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $color9, $color5); /* Standard syntax (must be last) */
}

@mixin tlrb(){
  top:0;left:0;right:0;bottom:0;
}

@mixin transition($seconds){
  -webkit-transition: all $seconds ease-in-out;
  -moz-transition: all $seconds ease-in-out;
  -ms-transition: all $seconds ease-in-out;
  -o-transition: all $seconds ease-in-out;
}

@mixin inset-shadow(){
  -webkit-box-shadow: inset 0px 0px 1px 1px $inset-color;
  -moz-box-shadow: inset 0px 0px 1px 1px $inset-color;
  box-shadow: inset 0px 0px 1px 1px $inset-color;
}

@mixin box-shadow(){
  -webkit-box-shadow: 0px 3px 5px -1px $box-shadow-color;
  -moz-box-shadow: 0px 3px 5px -1px $box-shadow-color;
  box-shadow: 0px 3px 5px -1px $box-shadow-color;
}

@mixin form-placeholder(){
   color: $color6;
   text-align: left;
   font-size: 16px;
}

/////////////////////////////////////////////////
/* Main Body Styling
///////////////////////////////////////////////*/

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col-xs-4{
  padding-left: 5px !important;
  padding-right: 5px !important;
}

body {
    @include diagonal-gradient();
    background-size: cover;
    position: relative;
    font-family: $font;
    height:auto;
}

.main-wrapper{
  width:500px;
  margin:auto;
  position:relative;
  padding-top:80px;

}

.loading{
  padding:10px;
}

.loading-text{
  font-size: 30px;
  color:$color1;
  font-weight: 200;
  position:absolute;
  left:0;

}

.loading-gif{
  background: url("../../assets/loading_spinner.gif");
  width:30px;
  height:30px;
  background-size:contain;
  margin:auto;
  right:0;
}
.error-wrap{
  width:100%;
  height:auto;
  padding:20px;
  background:$cape4;
  display:none;
  border-radius:5px;
}

.error-text{
  font-size:34px;
  font-weight:100;
  color:$color1;
  line-height: 1;
}

.error-list{
  margin-top:10px;
}

.error-list > li{
  color:$color1;
  font-size: 18px;
}
/////////////////////////////////////////////////
/* Modal Styling
///////////////////////////////////////////////*/

.modal-content{
  background:$color3;
  padding:10px;
}

.modal-header{
}

.modal-title{
  font-size:30px;
  color:white;
}

.modal-body > p, .modal-body > ul > li{
  color:white;
  font-size:15px;
  font-weight:100;
}

.close{
  color:white;
}

/////////////////////////////////////////////////
/* Header/Tagline
///////////////////////////////////////////////*/

.header-wrap{
  padding:0px;
  width:315px;
  margin:auto;
  line-height: 1;
  position: relative;
  margin-bottom:40px;
}

.header-text-bold{
  font-size: 46px;
  font-weight: bold;
  color:$color1;
}

.header-text-light{
  font-size:15px;
  font-weight:100;
  color:$color6;
}

.header-image{
  position:absolute;
  top:5;
  right:0;
  width:60px;
  height:60px;
  background:$logo;
  background-size:cover;
}
/////////////////////////////////////////////////
/* Navbar
///////////////////////////////////////////////*/

.nav-link{
  text-align: center;
  @include transition(0.20s);
}

.nav-link.active, .nav-link:hover{
  background:$form-color;
  border-radius: 5px;
}

.nav-link > a{
  color:$color6;
  font-size: 18px;
  cursor: pointer;
}

.nav-link > a:hover, .nav-link > a:visited{
  cursor: pointer;
  text-decoration: none !important;
}

a, a:hover, a:active, a:visited {
    text-decoration:none !important;
}

/////////////////////////////////////////////////
/* Body Elements
///////////////////////////////////////////////*/

hr{
  border-top: 2px solid $hr-color;
  margin-top:10px;
  margin-bottom: 10px;
}

.margin-tb{
  margin-top:20px;
  margin-bottom:20px;
}

.about-image{
  width:110px;
  height:110px;
  border:3px solid white;
  border-radius: 50%;
  margin:auto;
  background-size:cover;
  @include transition(0.20s);
}

.about-image:hover{
  border:3px solid $color7;
  cursor:pointer;
}

.about-image.active{
  border:3px solid $color7;
}

.joey{background-image: $joey;}
.chloe{background-image: $chloe;}
.david{background-image: $david;}
.jake{background-image: $jake;}
.christian{background-image: $christian;}

.pic-wrap{
  width:70%;
  margin:auto;
}

.header-text{
  font-size:40px;
  color:white;
  font-weight:200;
  text-align: center;
}

.mission-text{
  font-size: 20px;
  color:white;
  text-align: center;
  margin-top:30px;
}

.about-wrapper{
  padding:15px;
}

.about-circle{
  width:180px;
  height:180px;
  background:$color1;
  color:$color9;
  text-align: center;
  vertical-align: middle;
  font-size:40px;
  border-radius: 50%;
  margin:auto;
  padding:20px;
  padding-top:25px;
}

.statement-text{
  color:white;
  font-weight: bold;
  font-size: 100px;
  text-align: center;
}

.under-header-text{
  font-size:12px;
  color:$color6;
  text-align: center;
}

.under-wrapper{
  width:40%;
  margin:auto;
}

.darker-text{
  color:$color3;
}

.circle-wrapper{

}

.bio-panel{
  display:none;
  padding:20px;
}

.bio-text-name, .bio-text{
  text-align: left;
  color:white;
}

.bio-text-name{
  font-size: 24px;
  margin-top:10px;
}

.bio-text{
  font-size:20px;
}

hr.white-short{
  border-bottom: 1px solid white;
  width:30px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:0px;
  border-top:none;
}

/////////////////////////////////////////////////
/* Form Elements
///////////////////////////////////////////////*/

.report-form{
  margin-top:20px;
  width:100%;
  margin:auto;
}

textarea:focus, input:focus{outline:none;}

//Placeholders for form input fields
::-webkit-input-placeholder {@include form-placeholder();}
:-moz-placeholder {@include form-placeholder();}
::-moz-placeholder {@include form-placeholder();}
:-ms-input-placeholder {@include form-placeholder();}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px white;
  border: 2px solid white;
  color:white;
}


.form-input-small, .form-input-large{
  height: 34px;
  width: 100%;
  border-radius: 3px;
  border: none;
  border-top: none;
  @include inset-shadow();
  outline:0;
  padding:20px;
  background:$form-color;
  color:white;
}

.form-input-small{height:65px;}

.form-input-large{
    height:200px;
    line-height: 30px;
}

.submit, .location{
  background:$form-color;
  border-radius:3px;
  font-size:25px;
  font-weight:800;
  padding:10px;
  color: white;
  border:none;
  width:100%;
  text-align: center;
  cursor:pointer !important;
  //@include box-shadow();
}
.warning-wrap{
  width:100%;
  height:auto;
  padding:20px;
  margin:auto;
}

.warning-text{
  font-size: 20px;
  font-weight:100;
  color:$color1;
  text-align: center;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size:25px;
    font-weight:800;
    padding:10px;
    color: white;
    background-color: $form-color;
    display: block;
    cursor:pointer !important;
    text-align: center;
    border-radius:3px;
    @include transition(0.20s);
    @include box-shadow();
}

.fileupload2,.fileupload3,.fileupload4{
  margin-top:25px;
  display:none;
}

.button-waiting{
  box-shadow: 0 0 5px $color5 !important;
  border: 2px solid $color5 !important;
}

.dummy{
}

.circle{
  width:40px;
  height:40px;
  margin:auto;
  background: $form-color;
  color:white;
  padding:5px;
  font-size:20px;
  font-weight: 800;
  border-radius: 50%;
  border: 1px solid white;
  text-align: center;
}

.done{
  background:$color5 !important;
  border:1px solid $color5 !important;
  box-shadow: none;
}

.padded{
  padding:10px;
}

.form-section{
  margin-top:40px;
  margin-bottom:40px;
}

.captcha-wrap{
  margin:auto;
  width:200px;
}


/////////////////////////////////////////////////
/* Footer
///////////////////////////////////////////////*/

.footer-wrap{
  text-align: center;
  color: white;
  font-size:20px;
  margin-bottom:20px;
}


/////////////////////////////////////////////////
/* Media Queries: Small devices */
/////////////////////////////////////////////////

@media screen
and (min-width: 320px)
and (max-width: 375px) {
  .main-wrapper{
    width:100%;
    padding:20px;
  }
  .nav-link > a{
    color:$color6;
    font-size: 12px;
    cursor: pointer;
  }
  .about-circle{
    width:130px;
    height:130px;
    font-size:25px;
  }
  .under-header-text{
    font-size:10px;
  }
  .statement-text{
    font-size:80px;
  }
  .about-image{
    width:80px;
    height:80px;
  }
  .bio-text-name{
    text-align: center;
  }
  .white-short{
    margin-left:auto !important;
    margin-right:auto;
  }
  .bio-text{
    text-align: center;
  }
  .header-image{
    width:45px;
    height:45px;
  }
  .header-text-bold{
    font-size:38px;
  }
  .header-wrap{
    width:265px;
  }
}

@media screen
and (min-width: 375px)
and (max-width: 568px) {
  .main-wrapper{
    width:100%;
    padding:20px;
  }
  .nav-link > a{
    color:$color6;
    font-size: 14px;
    cursor: pointer;
  }

  .about-circle{
    width:130px;
    height:130px;
    font-size:25px;
  }
  .under-header-text{
    font-size:10px;
  }
  .statement-text{
    font-size:80px;
  }
  .about-image{
    width:80px;
    height:80px;
  }
  .bio-text-name{
    text-align: center;
  }
  .white-short{
    margin-left:auto !important;
    margin-right:auto;
  }
  .bio-text{
    text-align: center;
  }
  .header-image{
    width:45px;
    height:45px;
  }
  .header-text-bold{
    font-size:38px;
  }
  .header-wrap{
    width:265px;
  }
}
