/* ************************** */
/* Color Pallete
/* ************************** */
$color1: #313538;
$color2: #4B9E96;
$color3: #378DD1;
$color4: #AA847B;
$color5: #D1524E;

$color6:white;
$color7:rgb(100,100,100);

.main-wrapper{
  width:80%;
  margin:auto;
  position:relative;
}

/* Fix Some Bootsrap Shit */
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col-sm-6,.col-xs-6{
  padding-left:0px;
  padding-right:0px;
}

body{
  background-color:$color1;
}

.header-text{
  text-align: center;
  color:$color1;
  font-size: 36px;
  font-weight: bold;
}

.header, .main-body{
  width:100%;
  background:$color6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header{
  height:auto;
  padding:10px;
}


.main-body{
  height:500px;
  padding:20px;
  margin-top: 20px;
}

.form-box{
  background:$color2;
  margin:auto;
  margin-top:20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width:2px;
  border-color: $color2;
  border-style: solid;
}

.list-elem{
  width:100%;
  padding:10px;
  color:white;
  font-size: 22px;
}

.main-text{
  padding:10px;
  font-size:20px;
  text-align: center;
  color:white;
  width:95% !important;
}

.animal-form{
  padding:10px;
  width:80%;
}

.animal-text{
  color:white;
  font-size:20px;
}

.circle-check{
  color:white;
  font-size:18px !important;
  margin-top:8px;
}

/* Media Queries */

@media (max-width: 768px) {
  .form-box{
    width:92%;
  }
  .animal-text{
    font-size: 17px;
  }

  .circle-check{
    margin:5px;
  }

  .wrapper{
    width:100%;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .form-box{
    width:95%;
  }

  .wrapper{
    width:70%;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .big-box{
    height:470px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
