/* ************************** */
/* Color Pallete
/* ************************** */
$color1: #466675;
$color2: #6A8D9D;
$color3: #CCCCCC;
$color4: #466675;
$color5: #FAC8BF;

/* Fix Some Bootsrap Shit */
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col-sm-6,.col-xs-6{
  padding-left:0px;
  padding-right:0px;
}

body{
  background-color:$color1;
}

.title-bar{
  height:auto;
  width:100%;
  background-color:$color1;
  padding:20px;
}

.header-wrap{
  height:500px;
  width:100%;
  position:relative;
}

.header-img{
  height:100%;
  width:100%;
  background: url("../img/seal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index:3;
}

.header-img-filter{
  height:100%;
  width:100%;
  z-index:4;
  background-color: rgba(0,0,0,.4);
  position:absolute;
  top:0; left:0; right:0; bottom:0;
}

h1{
  color:white;
  margin-top:0 !important;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}



.big-box{
  height:585px;
  width:100%;
}

.little-box{
  height:50%;

}

.square-bg{
  background-size:cover;
  background-position: center;
  height:100%;
  width:100%;
}

.inner-border{
    -webkit-box-shadow:inset 0px 0px 0px 10px #545f5f;
    -moz-box-shadow:inset 0px 0px 0px 10px #545f5f;
    box-shadow:inset 0px 0px 0px 10px #545f5f;
}



.red{
  background: red;
}

.blue{
  background: blue;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .big-box{
    height:360px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .big-box{
    height:470px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
