/* ************************** */
/* Color Pallete
/* ************************** */
.main-wrapper {
  width: 80%;
  margin: auto;
  position: relative;
  margin-top: 85px; }

/* Fix Some Bootsrap Shit */
.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.col-sm-6, .col-xs-6 {
  padding-left: 0px;
  padding-right: 0px; }

body {
  background: #313538;
  font-family: "Cabin", sans-serif; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(50, 50, 50, 0.5); }

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.header-outer {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 99; }

.header-inner {
  position: relative;
  width: 80%;
  margin: auto;
  height: auto; }

.header {
  height: auto;
  width: 100%;
  background: #313538;
  margin: auto; }

.header-text-bold, .header-text-light {
  text-align: left; }

.header-text-bold {
  font-size: 36px;
  font-weight: bold;
  color: white; }

.header-text-light {
  font-size: 15px;
  font-weight: 100;
  color: #dddddd; }

.header-image {
  position: absolute;
  top: 5;
  right: 0;
  width: 50px;
  height: 50px;
  background: url("../../assets/img/seal-icon.png");
  background-size: cover; }

.header-wrap {
  width: 265px;
  height: auto;
  position: relative;
  line-height: 1; }

.menu-icon {
  position: absolute;
  right: 30px;
  top: 10px;
  background-image: url("../../assets/img/menu.png");
  background-size: cover;
  width: 50px;
  height: 50px; }

.navbar {
  border-radius: 0px;
  padding-left: 30px;
  padding-right: 30px;
  padding: 15px; }

.navbar-nav {
  float: right; }

.navbar-inverse .navbar-nav > .active > a {
  background: none;
  color: #f26d7d; }

.title-text-wrap {
  width: 100%;
  height: auto;
  text-align: center; }

.title-text {
  font-size: 55px;
  font-weight: 100;
  color: white; }

.error-wrap {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #a40e20;
  display: none;
  border-radius: 35px; }

.error-text {
  font-size: 34px;
  font-weight: 100;
  color: white;
  line-height: 1; }

.error-list {
  margin-top: 10px; }

.error-list > li {
  color: white;
  font-size: 18px; }

hr.divider {
  width: 200px;
  color: white;
  border-top: 3px solid white; }

.main-body {
  height: auto;
  padding: 20px;
  position: relative;
  background: url("../../assets/img/background-bubbles.png");
  background-size: cover;
  background-position: center; }

.report-form {
  margin-top: 20px;
  width: 80%;
  margin: auto;
  padding: 50px;
  padding-top: 0px; }

.text {
  color: white;
  font-size: 20px; }

textarea:focus, input:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: #8d8d8d;
  text-align: center;
  font-size: 18px;
  line-height: .8; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #8d8d8d;
  text-align: center;
  font-size: 18px;
  line-height: .8; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #8d8d8d;
  text-align: center;
  font-size: 18px;
  line-height: .8; }

:-ms-input-placeholder {
  color: #8d8d8d;
  text-align: center;
  font-size: 18px;
  line-height: .8; }

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #51cbee;
  border: 3px solid #f26d7d; }

.form-input-small, .form-input-large {
  border-radius: 35px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border: 3px solid #8d8d8d;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; }

.form-input-small {
  height: 65px; }

.form-input-large {
  height: 200px; }

.warning-wrap {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: auto; }

.warning-text {
  font-size: 35px;
  font-weight: 100;
  color: white;
  text-align: center; }

.submit {
  background: #05d4a6;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  margin-top: 10px;
  color: white;
  border: none;
  width: 100%; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  margin-top: 10px;
  color: white;
  background-color: #f26d7d;
  display: block;
  margin: auto;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; }

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: #024e52;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out; }

/* Media Queries */
@media (max-width: 768px) {
  .form-box {
    width: 92%; }

  .animal-text {
    font-size: 17px; }

  .circle-check {
    margin: 5px; }

  .wrapper {
    width: 100%; } }
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (max-width: 512px) {
  .title-text {
    font-size: 30px !important; }

  .warning-text {
    font-size: 25px !important; } }
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .title-text {
    font-size: 45px; }

  .form-box {
    width: 95%; }

  .report-form {
    padding: 10px; } }
@media (max-width: 992px) {
  .main-wrapper {
    width: 100%; }

  .header-inner {
    width: 100%; }

  .report-form {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
