/* Color Pallete
///////////////////////////////////////////////*/
/* Global Style Definitions
///////////////////////////////////////////////*/
/* Mixins
///////////////////////////////////////////////*/
/* Main Body Styling
///////////////////////////////////////////////*/
.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

body {
  background: #0c638c;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #0c638c, #00e09e);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0c638c, #00e09e);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #0c638c, #00e09e);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #0c638c, #00e09e);
  /* Standard syntax (must be last) */
  background-size: cover;
  position: relative;
  font-family: "Cabin", sans-serif;
  height: auto; }

.main-wrapper {
  width: 500px;
  margin: auto;
  position: relative;
  padding-top: 80px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(50, 50, 50, 0.5);
  display: none; }

.Absolute-Center {
  width: 33%;
  height: 27%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.loading {
  font-size: 20px;
  color: #ffffff;
  font-weight: 200;
  position: absolute;
  left: 0;
  top: 0; }

.loading-gif {
  background: url("../../assets/loading.gif");
  width: 200px;
  height: 200px;
  background-size: cover;
  position: absolute;
  right: 0; }

.error-wrap {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #a40e20;
  display: none;
  border-radius: 5px; }

.error-text {
  font-size: 34px;
  font-weight: 100;
  color: #ffffff;
  line-height: 1; }

.error-list {
  margin-top: 10px; }

.error-list > li {
  color: #ffffff;
  font-size: 18px; }

/* Header/Tagline
///////////////////////////////////////////////*/
.header-wrap {
  padding: 0px;
  width: 315px;
  margin: auto;
  line-height: 1;
  position: relative;
  margin-bottom: 40px; }

.header-text-bold {
  font-size: 46px;
  font-weight: bold;
  color: #ffffff; }

.header-text-light {
  font-size: 15px;
  font-weight: 100;
  color: #dddddd; }

.header-image {
  position: absolute;
  top: 5;
  right: 5;
  width: 60px;
  height: 60px;
  background: url("../../assets/img/seal-icon.png");
  background-size: cover; }

/* Navbar
///////////////////////////////////////////////*/
.nav-link {
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out; }

.nav-link.active, .nav-link:hover {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 5px; }

.nav-link > a {
  color: #dddddd;
  font-size: 18px;
  cursor: pointer; }

.nav-link > a:hover, .nav-link > a:visited {
  cursor: pointer;
  text-decoration: none !important; }

a, a:hover, a:active, a:visited {
  text-decoration: none !important; }

/* Body Elements
///////////////////////////////////////////////*/
hr {
  border-top: 2px solid rgba(100, 80, 80, 0.2);
  margin-top: 10px;
  margin-bottom: 10px; }

.margin-tb {
  margin-top: 20px;
  margin-bottom: 20px; }

/* Form Elements
///////////////////////////////////////////////*/
.report-form {
  margin-top: 20px;
  width: 100%;
  margin: auto; }

textarea:focus, input:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: #dddddd;
  text-align: left;
  font-size: 16px; }

:-moz-placeholder {
  color: #dddddd;
  text-align: left;
  font-size: 16px; }

::-moz-placeholder {
  color: #dddddd;
  text-align: left;
  font-size: 16px; }

:-ms-input-placeholder {
  color: #dddddd;
  text-align: left;
  font-size: 16px; }

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px white;
  border: 2px solid white;
  color: white; }

.form-input-small, .form-input-large {
  height: 34px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  border-top: none;
  -webkit-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.18);
  outline: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(100, 100, 100, 0.2);
  color: white; }

.form-input-small {
  height: 65px; }

.form-input-large {
  height: 200px;
  line-height: 30px; }

.submit {
  background: #00e09e;
  border-radius: 5px;
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  margin-top: 10px;
  color: white;
  border: none;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75); }

.warning-wrap {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: auto; }

.warning-text {
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  text-align: center; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  font-size: 40px;
  font-weight: 800;
  padding: 20px;
  margin-top: 40px;
  color: white;
  background-color: #f26d7d;
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75); }

/* Footer
///////////////////////////////////////////////*/
.footer-wrap {
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 20px; }

/* Small devices (tablets, 768px and up) */
@media (max-width: 568px) {
  .main-wrapper {
    width: 100%;
    padding: 20px; }

  .nav-link > a {
    color: #dddddd;
    font-size: 14px;
    cursor: pointer; } }

/*# sourceMappingURL=style.css.map */
