/* ************************** */
/* Color Pallete
/* ************************** */
.main-wrapper {
  width: 80%;
  margin: auto;
  position: relative; }

/* Fix Some Bootsrap Shit */
.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.col-sm-6, .col-xs-6 {
  padding-left: 0px;
  padding-right: 0px; }

body {
  background-image: url("../../assets/img/RescueHero-BG.png");
  background-size: cover;
  font-family: "Arimo", sans-serif; }

.header-text-bold, .header-text-light {
  text-align: left; }

.header-text-bold {
  font-size: 36px;
  font-weight: bold;
  color: white; }

.header-text-light {
  font-size: 15px;
  font-weight: 100;
  color: #dddddd; }

.header, .main-body {
  width: 100%;
  background: #313538;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.header {
  height: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: static;
  line-height: 1; }

.header-image {
  position: absolute;
  top: 5;
  right: 0;
  width: 50px;
  height: 50px;
  background: url("../../assets/img/seal-icon.png");
  background-size: cover; }

.header-wrap {
  width: 265px;
  height: auto;
  position: relative; }

.title-bar {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 20px;
  position: relative; }

.main-body {
  height: auto;
  padding: 20px;
  margin-top: 20px;
  position: relative; }

.text {
  color: #313538;
  font-size: 20px; }

.form-input {
  border-radius: 5px;
  border: 1px solid #646464;
  padding: 10px;
  margin-top: 10px;
  width: 300px; }

.notes {
  height: 200px; }

.upload-image, .submit {
  width: 300px;
  padding: 20px;
  margin-top: 10px;
  background: #D1524E;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border: none; }

.submit {
  background: #4B9E96; }

.report-form {
  margin-top: 80px; }

.form-box {
  background: #4B9E96;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 2px;
  border-color: #4B9E96;
  border-style: solid; }

.list-elem {
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 22px; }

.main-text {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: white;
  width: 95% !important; }

.animal-form {
  padding: 10px;
  width: 80%; }

.animal-text {
  color: white;
  font-size: 20px; }

.circle-check {
  color: white;
  font-size: 18px !important;
  margin-top: 8px; }

/* Media Queries */
@media (max-width: 768px) {
  .form-box {
    width: 92%; }

  .animal-text {
    font-size: 17px; }

  .circle-check {
    margin: 5px; }

  .wrapper {
    width: 100%; } }
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .form-box {
    width: 95%; }

  .main-wrapper {
    width: 100%; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .big-box {
    height: 470px; } }
/* Large devices (large desktops, 1200px and up) */

/*# sourceMappingURL=style.css.map */
