<div class="about-wrapper">
  <div class="statement-text">
    51,650
  </div>
  <div class="under-wrapper">
    <p class="under-header-text">Marine Mammals stranded in all the of United States
    from 2001 to 2009</p>
  </div>
  <div class='row'>
    <div class='col-xs-6'>
      <div class="about-circle">
        <div class="circle-wrapper">
          26,900
          <p class="under-header-text darker-text">Mammals stranded on California coast</p>
        </div>
      </div>
    </div>
    <div class='col-xs-6'>
      <div class="about-circle">
        <div class="circle-wrapper">
          120
          <p class="under-header-text darker-text">Organizations trained to respond to marine mammal rescue requests</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mission-text">
    The Rescue Hero mission is to minimize the time it takes for an orgnanization to respond to a distressed animal.
  </div>
</div>
<hr>

<div class="header-text margin-tb">
  Our Team
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="about-image joey">
      <span class='person' style="display:none">joey</span>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="about-image jake">
      <span style="display:none">jake</span>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="about-image david">
      <span style="display:none">david</span>
    </div>
  </div>
</div>
<div class="row">
  <div class='pic-wrap'>
    <div class="col-xs-6">
      <div class="about-image chloe">
        <span style="display:none">chloe</span>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="about-image christian">
        <span style="display:none">christian</span>
      </div>
    </div>
  </div>
</div>
<div class="bio-panel">
  <div class='bio-text-name'>
  </div>
  <hr class='white-short'>
  <div class="bio-text">
  </div>
</div>
