<div class="header-text margin-tb">
  Our Team
</div>



<div class="row">
  <div class="col-xs-4">
    <div class="about-image joey">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="about-image jake">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="about-image david">
    </div>
  </div>
</div>
<div class="row">
  <div class='pic-wrap'>
    <div class="col-xs-6">
      <div class="about-image chloe">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="about-image christian">
      </div>
    </div>
  </div>
</div>
