<div class="about-wrapper">
  <div class="statement-text">
    51,650
  </div>
  <div class="under-wrapper">
    <p class="under-header-text">Marine Mammals stranded in all the of United States
    from 2001 to 2009</p>
  </div>
  <div class='row'>
    <div class='col-xs-6'>
      <div class="about-circle">
        <div class="circle-wrapper">
          26,900
          <p class="under-header-text darker-text">Mammals stranded on California coast</p>
        </div>
      </div>
    </div>
    <div class='col-xs-6'>
      <div class="about-circle">
        <div class="circle-wrapper">
          120
          <p class="under-header-text darker-text">Organizations trained to respond to marine mammal rescue requests</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mission-text">
    The Rescue Hero mission is to minimize the time it takes for an orgnanization to repond to a distressed animal.
  </div>
</div>
<hr>

<div class="header-text margin-tb">
  Our Team
</div>
<hr>


<div class="row">
  <div class="col-xs-4">
    <div class="about-image joey">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="about-image jake">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="about-image david">
    </div>
  </div>
</div>
<div class="row">
  <div class='pic-wrap'>
    <div class="col-xs-6">
      <div class="about-image chloe">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="about-image christian">
      </div>
    </div>
  </div>
</div>
