<div class='container'>
  <div class='main-wrapper'>
    <div class='header'>
      <div class='header-wrap'>
        <div class='header-text-bold'>Rescue Hero</div>
        <div class='header-text-light'>Marine Mammal Report System</div>
        <div class='header-image'></div>
      </div>
    </div>
    <div class='main-body'>
      <div class='title-bar'>
        <h3>Submit A Rescue Notification</h3>
      </div>
      <!--<hr>
      <form class="report-form" novalidate>
        <div class='row'>
          <div class='col-sm-6'>

            <div class='text'>Animal Type:</div><input class='form-input' type="text" ng-model="dataObj.animal_type"><br><br>
            <div class='text'>Animal Notes:</div><input class='form-input notes' type="text" ng-model="dataObj.animal_notes"><br><br>


          </div>
          <div class='col-sm-6'>
            <div class='text'>Upload An Image:</div><input class='upload-image' type='file' custom-on-change="uploadFile">
            <div class='text'>Get Location</div><div class='upload-image' ng-click="location()">Get Current Position</div>
            <input class='submit' type="submit" ng-click="getData(dataObj)" value="Submit">
          </div>
        </div>
      </form>-->
    </div>
  </div>
</div>
