<div id="main-container" class='container' style='padding:0px;'>
  <div class='header-outer'>
    <div class='container' style='padding:0px;'>
      <div class='header-inner'>
        <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class='header-wrap'>
              <div class='header-text-bold'>Rescue Hero</div>
              <div class='header-text-light'>Marine Mammal Report System</div>
              <div class='header-image'></div>
            </div>
          </div>
          <div class='nav-right'>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#/test">Submit Report</a></li>
                <li><a href="#/test">Active Cases</a></li>
                <li><a href="#/test">About Us</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class='main-wrapper'>
    <div class='main-body'>
      <div class='title-text-wrap'>
        <div class='title-text'>Report Submission Form</div>
      </div>
      <hr class='divider'>
      <form class="report-form" novalidate>
        <input class='form-input-small' type="text" ng-model="dataObj.animal_type" placeholder="Enter Animal Type">
        <input class='form-input-large' type="text" ng-model="dataObj.animal_notes" placeholder="Enter Notes About The Animal">
        <input class='upload-image' value="Upload Image">
        <div class='warning-wrap'>
          <div class='warning-text'>**Location is required for form submission to be valid.</div>
        </div>
        <input class='submit' type="submit" ng-click="getData(dataObj)" value="Submit">
      </form>
    </div>
  </div>
</div>
