<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title to be decided...</title>
    <!-- CSS Files-->
    <link href="libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="libraries/css/style.css" rel="stylesheet">
    <link href="libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class='title-bar'>
      <h1>Marine Rescue</h1>
    </div>
    <div class="container" style='margin-top:80px; z-index:5'>
      <div class="wrapper">
        <div class='row'>
          <div class="col-md-6">
            <div class='form-box main-text'>
              <h2>Use the form to contact rescuers about a beached marine animal.</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class='row'>
              <div class='col-xs-6'>
                <div class='form-box animal-form'>
                  <div class='row'>
                    <div class='col-xs-9'>
                      <div class="animal-text">Seal</div>
                    </div>
                    <div class='col-xs-3'>
                      <i class='fa fa-circle-o circle-check'></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-xs-6'>
                <div class='form-box animal-form'>
                  <div class='row'>
                    <div class='col-xs-9'>
                      <div class="animal-text">Sea Lion</div>
                    </div>
                    <div class='col-xs-3'>
                      <i class='fa fa-circle-o circle-check'></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='row'>
              <div class='col-xs-6'>
                <div class='form-box animal-form'>
                  <div class='row'>
                    <div class='col-xs-9'>
                      <div class="animal-text">Whale</div>
                    </div>
                    <div class='col-xs-3'>
                      <i class='fa fa-circle-o circle-check'></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-xs-6'>
                <div class='form-box animal-form'>
                  <div class='row'>
                    <div class='col-xs-9'>
                      <div class="animal-text">Other</div>
                    </div>
                    <div class='col-xs-3'>
                      <i class='fa fa-circle-o circle-check'></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-md-6'>
            <div class='form-box' style='width:95%;'>
              <div class='list-elem'>
                <div class='row'>
                  <div class='col-xs-9'>Healthy</div>
                  <div class='col-xs-3'><i class='fa fa-circle-o circle-check'></i></div>
                </div>
              </div>
              <div class='list-elem'>
                <div class='row'>
                <div class='col-xs-9'>Healthy</div>
                <div class='col-xs-3'><i class='fa fa-circle-o circle-check'></i></div>
                </div>
              </div>
              <div class='list-elem'>
                <div class='row'>
                <div class='col-xs-9'>Healthy</div>
                <div class='col-xs-3'><i class='fa fa-circle-o circle-check'></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class='col-md-6'>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- Javascript Files -->
  <script src="libraries/js/jquery-2.2.3.min.js"></script>
  <script src="libraries/bootstrap/js/bootstrap.min.js"></script>
  <script src="libraries/js/angular.min.js"></script>
  <script src="libraries/js/angular-route.min.js"></script>

</html>
