<div class='map-wrapper'>
  <div id='legend-wrapper'>
    <div class='legend-box'></div>
    <div class='row'>
      <div class='col-xs-3'>
        <div class='legend-entry'>
          <img class='case-image' src='assets/img/stick.png'>
          <span class='legend-text'>You</span>
        </div>
      </div>
      <div class='col-xs-3'>
        <div class='legend-entry'>
          <img class='case-image' src='assets/img/logos/rescuehero_logo_mini.png'>
          <span class='legend-text'>Active</span>
        </div>
      </div>
      <div class='col-xs-3'>
        <div class='legend-entry'>
          <img class='case-image' src='assets/img/logos/rescuehero_logo_pukegold_mini.png'>
          <span class='legend-text'>Pending</span>
        </div>
      </div>
      <div class='col-xs-3'>
        <div class='legend-entry'>
          <img class='case-image' src='assets/img/logos/rescuehero_logo_radioactive_green_mini.png'>
          <span class='legend-text'>Rescued</span>
        </div>
      </div>
    </div>
  </div>
  <div id="googleMap"></div>
</div>

<div class='map-panel'>
  <div class='row'>
    <div class='col-xs-5'>
      <div class='animal-image'>
        <div class="status"><span class='status-content'></span></div>
      </div>
    </div>
    <div class='col-xs-7'>
      <div class="animal-text">Animal Type: <span class='type-content'></span>
      </div>
      <hr class='white-short'>
      <div class="animal-text">Notes: <span class='notes-content'></span></div>
      <div class='exit' ng-click='exitMapPanel()'></div>
    </div>

  </div>
</div>
